<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Searches</title>
</head>
<body>
  <form action="/searches" method="POST">
    <fieldset>
      <input type="text" name="search" placeholder="Enter Title/Author">
      <label for="title">Search By Title</label>
      <input type="radio" name="title" value="title">
      <label for="author">Search By Author</label>
      <input type="radio" name="author" value="author">
      <input type="submit">
    </fieldset>
  </form>
</body>
</html>